.btn.btn-danger {
    position: relative;
    top: 48px;
    left: -50px;
}

.btn.btn-success {
    position: relative;
    top: 10px;
    left: 50px;
}

.thead-reserving {
    background-image: linear-gradient(to right top, #eeddf4, #d5ccf1, #b1beef, #81b3eb, #33a9e0);
}

.confirmation-data {
    width: 450px;
    overflow: hidden;
    margin: auto;
    padding: 40px;
    background: #ffffff;
    border: 1px solid black;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}
