.search {
    height: 115px;
    width: auto;

    border: 1px solid black;
    padding: 10px;
    margin: auto;
    margin-right: -10px;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

table.flight-list-table {
    position: relative;
    left: -98px;
}

thead.thead {
    background-image: linear-gradient(to left top, #d978d2, #cd8ee4, #c2a1f1, #bab2fa, #b7c2fe, #abccff, #a4d6ff, #a2deff, #8ee6ff, #7aedff, #68f5fe, #5ffbf3);
}

.second-element {
    position: relative;
    left: 0px;
    bottom: 70px;
}

.second-element {
    position: relative;
    left: 270px;
    bottom: 80px;
}

.third-element {
    position: relative;
    left: 570px;
    bottom: 160px;
}

.fourth-element {
    position: relative;
    left: 860px;
    bottom: 240px;
}

.to .text-to {
    padding-right: 20px;
}

.airline-element .text-airline {
    padding-right: 30px;
}

.arrival-time-element .text-arrival-time {
    padding-right: 25px;
}

.aircraft-type-element .text-aircraft-type {
    padding-right: 30px;
}


.btn.btn-success  {
    position: relative;
    left: 1172px;
    bottom: 300px;
}

/*
    icons
*/
img.search-icon {
    height: 20px;
    width: 20px;
}

img.calendar-icon {
    height: 20px;
    width: 20px;
}

img.airline-icon {
    height: 20px;
    width: 20px;
}

img.time-icon {
    height: 20px;
    width: 20px;
}
/*
    Textboxes
*/

input:hover {
    background: lightgray;
}

#Arrival_Time_TextBox {
    background: #ffffff;
    border: 1px solid black;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

    padding-right: 10px;
    margin-left: 4px;
    width: 120px;
}

#Airline_TextBox {
    background: #ffffff;
    border: 1px solid black;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

    width: 167px;
}

#Depart_Time_TextBox {
    background: #ffffff;
    border: 1px solid black;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

    padding-right: 10px;
    margin-left: 3px;
    width: 120px;
}

#From_TextBox {
    background: #ffffff;
    border: 1px solid black;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

    width: 167px;
}

#To_TextBox {
    background: #ffffff;
    border: 1px solid black;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

    width: 167px;
}

#DepartDate_TextBox {
    background: #ffffff;
    border: 1px solid black;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

    margin-left: 3px;
    width: 167px;
}

#Registration_Num_TextBox {
    background: #ffffff;
    border: 1px solid black;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

    width: 100px;
}

#AircraftType_TextBox {
    background: #ffffff;
    border: 1px solid black;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

    width: 100px;
    margin-left: 2px;
}