.search {
    height: 115px;
    width: auto;
}

.second-element {
    position: relative;
    left: 270px;
    bottom: 85px;
}

.third-element {
    position: relative;
    left: 570px;
    bottom: 168px;
}

.to .text-to {
    padding-right: 20px;
}

.airline-element .text-airline {
    padding-right: 15px;
}

.arrival-time-element .text-arrival-time {
    padding-right: 25px;
}


.btn.btn-success  {
    position: relative;
    left: 900px;
    bottom: 251px;
}

/*
    Textboxes
*/
#Airline_TextBox.airline {
    border: 2px solid;
    border-radius: 5px;
    padding-right: 10px;
    margin-right: 10px;
}

#Depart_Time_TextBox.depart-time {
    border: 2px solid;
    border-radius: 5px;
    padding-right: 10px;
    margin-right: 10px;
}

#Arrival_Time_TextBox.arrival-time {
    border: 2px solid;
    border-radius: 5px;
    padding-right: 10px;
    margin-right: 10px;
}

.notification {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    max-width: 400px;
    padding: 6px;
    background: #808080;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, top 0.5s, visibility 0.5s;
}

.notification--visible {
    top: 20px;
    opacity: 1;
    visibility: visible;
}

.notification--success {
    background: #28A745;
}

.notification--error {
    background: #DC3545;
}
