.search {
    height: 115px;
    width: auto;

    border: 1px solid black;
    padding: 10px;
    margin: auto;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

    padding-right:10px;
}

table.flight-list-table {
    position: relative;
    left: -98px;
}

thead.thead {
    background-image: linear-gradient(to left top, #d978d2, #cd8ee4, #c2a1f1, #bab2fa, #b7c2fe, #abccff, #a4d6ff, #a2deff, #8ee6ff, #7aedff, #68f5fe, #5ffbf3);
}
.second-element {
    position: relative;
    /*will need to add more spacing between the textboxes*/
    left: 270px;
    bottom: 87px;
}

.third-element {
    position: relative;
    left: 570px;
    bottom: 175px;
}

.fourth-element {
    position: relative;
    left: 860px;
    bottom: 265px;
}

.to .text-to {
    padding-right: 20px;
}

.airline-element .text-airline {
    padding-right: 30px;
}

.arrival-time-element .text-arrival-time {
    padding-right: 25px;
}

.aircraft-type-element .text-aircraft-type {
    padding-right: 30px;
}


.btn.btn-success  {
    position: relative;
    left: 1172px;
    bottom: 320px;
}

/*
    icons
*/
img.search-icon {
    height: 20px;
    width: 20px;
}

img.calendar-icon {
    height: 20px;
    width: 20px;
}

img.airline-icon {
    height: 20px;
    width: 20px;
}

img.time-icon {
    height: 20px;
    width: 20px;
}
/*
    Textboxes
*/
input:hover {
    background: lightgray;
}

#Arrival_Time_TextBox {
    border: 3px solid;
    border-radius: 5px;
    padding-right: 10px;
    margin-right: 10px;
}
#Airline_TextBox {
    border: 3px solid;
    border-radius: 5px;
    width: 170px;
}

#Depart_Time_TextBox {
    border: 3px solid;
    border-radius: 5px;
    padding-right: 10px;
    margin-right: 10px;
}

#From_TextBox {
    border: 3px solid;
    border-radius: 5px;
    
}

#To_TextBox {
    border: 3px solid;
    border-radius: 5px;
    
}

#DepartDate_TextBox {
    border: 3px solid;
    border-radius: 5px;
    margin-right: 10px;
}

#Registration_Num_TextBox {
    border: 3px solid;
    border-radius: 5px;
    width: 100px;
}

#AircraftType_TextBox {
    border: 3px solid;
    border-radius: 5px;
    width: 100px;
}