.btn-link {
    height: 15px;
    justify-content: center;
}

.forgot-password {
    height: 35px;
    justify-content: center;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(104,133,255);
    background-image: linear-gradient(to top, #ddfffd, #d3fafd, #caf4fd, #c3eefe, #bee8fe, #b2e1fd, #a8d9fd, #9fd1fc, #8ac7fb, #73bdfb, #59b2fa, #37a8f9);
    font-family: 'Segoe UI';
}

.login {
    width: 382px;
    overflow: hidden;
    margin: auto;
    padding: 80px;
    background: #ffffff;

    border: 1px solid black;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

input:hover {
    background: #69BBFF;
}

input#User_Email {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input#Username {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input#Password {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}