.btn-link {
    height: 15px;
    justify-content: center;
}

.forgot-password {
    height: 35px;
    justify-content: center;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(104,133,255);
    background: radial-gradient(circle, rgba(104,133,255,1) 0%, rgba(70,236,252,1) 100%);
    font-family: 'Segoe UI';
}

.login {
    width: 382px;
    overflow: hidden;
    margin: auto;
    padding: 80px;
    background: #ffffff;
    border-radius: 15px;
}

input:hover {
    background: #69BBFF;
}

input#User_Email {
    border: 3px solid;
}

input#Username {
    border: 3px solid;
}

input#Password {
    border: 3px solid;
}