body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to top, #f7ab72, #ff9295, #e68ac0, #a792de, #439ade);
    font-family: 'Segoe UI';
}

.login {
    width: 382px;
    overflow: hidden;
    margin: auto;
    padding: 80px;
    background: #ffffff;
    border-radius: 15px;
}

input {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
