/*Image found within the flight table*/
img.go-to {
    max-width: 70%;
    max-height: 70%;
}

/*Flight table*/
.flight-list-table {
    border-spacing: 0 10px;
    border-collapse: separate;
}

/*Columns of flight table*/
th {
    width: 150px;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    max-width:500px;
}

/*Rows of flight table*/
td {
    width: 150px;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.departure-city-table {
    width: 80px;
    font-size: 24px;
    font-weight: bold;
}

.arrival-city-table {
    width: 80px;
    font-size: 24px;
    font-weight: bold;
}

.flight-date-table {
    width: 80px;
}

.arrival-departure-time-table {
    width: 80px;
}

.thead-reserving {
    background: linear-gradient(to right, #a8c0ff, #3f2b96);
}
