/*Columns of flight table*/
th {
    width: 150px;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

/*Rows of flight table*/
td {
    width: 150px;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

table.user-table {
    position: relative;
    margin:auto;
}

table.flight-list-table {
    position: relative;
    margin: auto;
    left: -90px;
}

label {
    margin-left: auto;
    margin-right: auto;
}

.user-buttons {
    width: 300px;
    overflow: hidden;
    margin: auto;
    padding: 20px;
    background: #ffffff;
    border: 1px solid black;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}