@page
@model FlightFinder.Pages.BookModel
@{
}

<a class="nav-item">
    <label>You are reserving a flight with internal ID: >@Html.DisplayFor(m => m.Flight_ID)</label> <!--Display current user logged in-->
</a>