@page
@model FlightFinder.ForgotPasswordModel
@{
    ViewData["Title"] = "ForgotPassword";
}
@section scripts{
    <partial name="_ValidationScriptsPartial">
}

<head>
    <title>Forgot Password Form</title>
    <link rel="stylesheet" type="text/css" href="~/css/ForgotPassword.css">

</head>
<body>
    <div class="text-center">
        <h2>Forgot Password</h2><br>
        <div class="forgot-password">
            <form id="password" method="post" action="">
                <h6>
                    Please enter account email for reset password PIN
                </h6>
                <br>
                <label>
                    <b>
                        Email
                    </b>
                </label>
                <input type="email" asp-for="User_Email" placeholder="Email" />

                <br><br>

                <br><br>
                <div class="">
                    <input type="submit" value="Submit" class="btn btn-primary form-control" />
                </div>
                <br>
                <label style="color:red">@Html.DisplayFor(m => m.ErrorText)</label>
                <br>
            </form>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
</body>

