@page
@model FlightFinder.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}
@section scripts{
    <partial name="_ValidationScriptsPartial">
}

<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="~/css/index.css">
</head>
<div class="container-center">
    <div class="text-center">
        <h1 class="display-4"><span>Welcome</span></h1>
        <h2><span>Find your next destination.</span></h2>

        <br><br>

        <form id="Login" method="post" action="">
            <div class="topnav">
                <input type="text" placeholder="Search for a city or airport...">
            </div>
            <br><br>

            <div class="search-button">
                <input type="submit" value="Search" class="btn btn-primary form-control" />
            </div>
        </form>
    </div>
</div>
