@page 
@model FlightFinder.LoginModel
@{
    ViewData["Title"] = "Login";
}
@section scripts{ 
<partial name="_ValidationScriptsPartial">}

<head>
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" href="~/css/Login.css">
</head>
<body>
    <div class="text-center">
        <h2>Login</h2><br>
        <div class="Login">
            <form id="Login" method="post" action="">

                <label>
                    <b>
                        Email
                    </b>
                </label>
                <br><br>
                <input type="email" asp-for="User_Email" placeholder="Email" />

                <br><br>

                <label>
                    <b>
                        User Name
                    </b>
                </label>
                <br><br>
                <input type="text" asp-for="Username" placeholder="Username">

                <br><br>

                <label>
                    <b>
                        Password
                    </b>
                </label>
                <br><br>
                <input type="password" asp-for="Password" placeholder="Password">

                <br><br>
                <div class="col-2 offset-5">
                    <input type="submit" value="Submit" class="btn btn-primary form-control" />
                </div>

                <br><br>

               
                    <div>
                        <a class="forgot-password" href="">Forgot Password </a>
                        <br><br>
                        <a class="btn-link" asp-page="/Registration"> Create Account</a>
                    </div>
                
                <br><br>
            </form>
        </div>
    </div>
    
        
    
</body>
