@page 
@model FlightFinder.LoginModel
@{
    ViewData["Title"] = "Login";
}
@section scripts{ 
<partial name="_ValidationScriptsPartial">
}

<head>
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" href="~/css/login.css">
</head>
<body>
    <div class="text-center">
        <h2>Login</h2><br>
        <div class="login">
            <form id="login" method="post" action="">
                <label>
                    <b>
                        Email
                    </b>
                </label>
                <input type="email" asp-for="User_Email" placeholder="Email" />

                <br><br>

                <label>
                    <b>
                        Username
                    </b>
                </label>
                <br>
                <input type="text" asp-for="Username" placeholder="Username">

                <br><br>

                <label>
                    <b>
                        Password
                    </b>
                </label>
                <br>
                <input type="password" asp-for="Password" placeholder="Password">

                <br><br>
                <div class="">
                    <input type="submit" value="Submit" class="btn btn-primary form-control" />
                </div>
                <br>
                <label style="color:red">@Html.DisplayFor(m => m.ErrorText)</label>
                <br>

                <div>
                    <a class="forgot-password" asp-page="/ForgotPassword">Forgot Password </a>
                    <br>
                    <a class="btn-link" asp-page="/Registration"> Create Account</a>
                </div>
            </form>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
</body>
