@page
@model FlightFinder.Pages.RegistrationModel
@{
    ViewData["Title"] = "Registration";
}
@section scripts{
    <partial name="_ValidationScriptsPartial">
}

<head>
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" href="~/css/registration.css">
</head>
<body>
    <div class="text-center">
        <h2>Create Account</h2><br>
        <div class="login">
            <form id="create-account" method="post" action="">
                <label>
                    <b>
                        Email<label style="color:red">*</label>
                    </b>
                </label>
                <input type="email" asp-for="User_Email" placeholder="Email" />

                <br><br>

                <label>
                    <b>
                        Username<label style="color:red">*</label>
                    </b>
                </label>
                <input type="text" asp-for="Username" placeholder="Username">

                <br><br>

                <label>
                    <b>
                        Password<label style="color:red">*</label>
                    </b>
                </label>
                <input type="password" asp-for="Password" placeholder="Password">

                <br><br>

                <label>
                    <b>
                        First Name (Optional)
                    </b>
                </label>
                <input type="text" asp-for="First_Name" placeholder="First Name">

                <br><br>

                <label>
                    <b>
                        Last Name (Optional)
                    </b>
                </label>
                <input type="text" asp-for="Last_Name" placeholder="Last Name">

                <br>
                <label style="color:red">*</label> Indicates a required field.
                <br>

                <div class="">
                    <input type="submit" value="Sign Up" class="btn btn-primary form-control" />
                </div>
                <br>
                <label style="color:red">@Html.DisplayFor(m => m.ErrorText)</label>
            </form>
        </div>
    </div>
</body>
